.app {
  width: 400px;
  height: 600px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.title {
  font-size: 40px !important;
}

.text {
  font-size: 24px;
  text-align: center;
}

.timer {
  margin: 20px 0;
  width: 300px;
}

.button {
  width: 300px;
}

.buttonContainer {
  width: 300px;
}

@media screen and (max-width: 600px) {
  .app {
    width: 300px;
    height: 500px;
  }

  .title {
    font-size: 32px !important;
  }

  .timer {
    width: 250px;
  }

  .text {
    font-size: 18px;
  }

  .buttonContainer {
    width: 250px;
  }
}
